<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <h3 th:text="${numResults}"></h3>

    <table th:each="job : ${jobs}" width="80%">
        <tr th:each="line : ${job}">
            <td th:text="${line.key}" style="font-weight: bold;" width="20%"></td>
            <td th:text="${line.value}" width="80%"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>

    <p th:text="${searchType}"></p>

</div>

</body>
</html>